/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */
@font-face {
	font-family: 'Miama';
	src: url(./Miama.woff);
}
:root {
	--primary-color: #e6533c;
	--secondary-color: rgba(255, 255, 255, 0.5);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
body {
	max-width: 1366px;
	margin: 0 auto;
}
ul {
	list-style: none;
}
li {
	cursor: pointer;
}
a {
	text-decoration: none;
	color: white;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.text-primary {
	color: var(--primary-color);
}
.text-secondary {
	color: var(--secondary-color);
}
.text-white {
	color: white;
}
.text-miama {
	font-family: 'Miama', sans-serif;
	font-size: 7rem;
	font-weight: 400;
}
.bg-gray {
	background-color: rgba(48, 48, 48, 0.54);
}
.bg-black {
	background-color: black;
}
.bg-primary {
	background-color: var(--primary-color);
}
.text-bold {
	font-weight: 700;
}
.text-center {
	text-align: center;
}
.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.items-center {
	align-items: center;
}
.btn {
	padding: 1rem 2rem;
	color: white;
	border: 1px solid var(--secondary-color);
	border-radius: 2rem;
	cursor: pointer;
	font-weight: 600;
}
.btn-primary {
	background-color: var(--primary-color);
}
.btn-transparent {
	background-color: transparent;
}
header {
	background-image: linear-gradient(
		180deg,
		rgb(17, 17, 17),
		rgba(119, 119, 119, 0) 100%
	);
}
nav {
	padding: 2.25rem 0;
}
.logo {
	font-size: 2.25rem;
	font-style: italic;
	font-weight: 900;
}
.nav-links {
	gap: 1.5rem;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 2rem;
}
.nav-links li {
	border-radius: 1.5rem;
	padding: 0.5rem 1.25rem;
}
.hamburger-menu {
	display: none;
	padding: 0.5rem;
	background-color: transparent;
	border: none;
}
/* Hero Section Styles */
.hero-title {
	font-size: 5rem;
	line-height: 120%;
	letter-spacing: 0%;
	font-weight: 900;
}
.hero-title,
.hero-description {
	margin-bottom: 2rem;
	width: 85%;
}
.btn-container {
	gap: 1.25rem;
}
.hero-image-container {
	position: relative;
}
.hero-image-container img {
	width: 345px;
}
.floating-card {
	gap: 10px;
	padding: 1rem;
	border-radius: 12px;
	backdrop-filter: blur(20px);
	background: rgba(48, 48, 48, 0.54);
	position: absolute;
}
.floating-card .card-description {
	font-size: 0.75rem;
}
.circle {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background-color: var(--primary-color);
}
.card-1 {
	bottom: 15%;
	left: 0;
}
.card-2 {
	top: 35%;
	right: 5%;
}
main > section,
footer {
	/* padding: 6rem 0; */
	margin-top: 6rem;
}
.section-title {
	margin-bottom: 1rem;
	font-size: 3rem;
}
.section-description {
	margin-bottom: 2rem;
	font-size: 0.75rem;
}
/* Change Your Habit Section Styles */
#change-your-habit {
	text-align: center;
}
.habit-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}
.habit-item {
	text-align: center;
}
.habit-item img {
	border-radius: 50%;
	aspect-ratio: 1/1;
	margin-bottom: 1.5rem;
}
.habit-item h6 {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.habit-item p {
	font-size: 0.75rem;
}

/* Run an Extra Mile */
#run-extra-mile .container {
	padding: 1.5rem;
	border-radius: 1rem;
}
.run-extra-mile-content {
	width: 40%;
}
#run-extra-mile .image-container {
	width: 50%;
}
#run-extra-mile img {
	width: 100%;
	height: auto;
	border-radius: 1rem;
}
/* BMI Calculator */
.chart-and-calculator {
	padding: 2rem 0;
}
.chart-and-calculator h3 {
	font-size: 1.5rem;
}
.bmi-chart {
	width: 30%;
}
.bmi-chart h3 {
	margin-bottom: 3rem;
}
table {
	border-collapse: collapse;
}
table th,
table td {
	border: 2px solid rgba(255, 255, 255, 0.1);
	padding: 1rem;
	text-align: start;
}
td {
	font-size: 0.85rem;
}
.bmi-calc {
	width: 50%;
}
.bmi-calc h3,
.bmi-calc p {
	margin-bottom: 1rem;
}
.bmi-calc form {
	margin-bottom: 1.25rem;
}
.bmi-calc form .row {
	margin-bottom: 10px;
	gap: 10px;
}
.bmi-calc form input,
.bmi-calc form select {
	width: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
	border-radius: 4px;
	outline: none;
	padding: 1rem 1.25rem;
	color: var(--secondary-color);
}
.bmi-calc form input::placeholder {
	color: var(--secondary-color);
}
.bmi-calc form .row-3 select {
	width: 100%;
}
.bmi-calc form select option {
	background-color: black;
	color: var(--secondary-color);
}

/* Meet Our Team */
.trainer-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding: 1rem;
	border-radius: 1.5rem;
}
.trainer-card {
	width: 100%;
	position: relative;
}
.trainer-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(90%);
	border-radius: 1.5rem;
}
.trainer-text {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
}
.trainer-text h5 {
	font-size: 1.5rem;
	margin-bottom: 0.25rem;
}

/* Footer Section */
.footer-content {
	padding: 2rem 0;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-left {
	width: 45%;
}
.footer-right {
	width: 45%;
}
.link-box-1 h4,
.link-box-2 h4 {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}
.link-box-1 li,
.link-box-2 li {
	margin-bottom: 0.75rem;
}
.copyright {
	text-align: center;
	padding: 2rem 0;
}
/* Media Queries */
@media screen and (max-width: 992px) {
	.container {
		width: 90%;
	}
	#hero-section {
		flex-direction: column;
	}
	.hero-title {
		font-size: 4rem;
	}
	.hero-title,
	.hero-description {
		width: 65%;
	}
	.text-miama {
		font-size: 5rem;
	}

	.habit-list {
		grid-template-columns: repeat(2, 1fr);
	}

	.run-extra-mile-content {
		width: 50%;
	}
	#run-extra-mile .image-container {
		width: 45%;
	}

	.footer-content {
		flex-direction: column;
		gap: 3rem;
	}
}
@media screen and (max-width: 576px) {
	.section-title {
		font-size: 2rem;
	}
	.section-description {
		margin-bottom: 1.5rem;
	}
	main > section,
	footer {
		/* padding: 2rem 0; */
		margin-top: 2rem;
	}
	.nav-links {
		display: none;
	}
	.hamburger-menu {
		display: block;
		font-size: 1.5rem;
	}
	.hero-title {
		font-size: 2.5rem;
	}
	.text-miama {
		font-size: 4rem;
	}
	.floating-card {
		padding: 0.5rem;
	}
	.hero-title,
	.hero-description {
		width: 80%;
	}
	.habit-list {
		grid-template-columns: 1fr;
	}

	#run-extra-mile .container {
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
	}
	.run-extra-mile-content {
		width: 100%;
	}
	.run-extra-mile-content button {
		width: 100%;
	}
	#run-extra-mile .image-container {
		width: 100%;
	}
	#run-extra-mile .image-container img {
		width: 100%;
		border-radius: 1rem;
	}

	.trainer-list {
		grid-template-columns: 1fr;
	}

	.footer-content {
		gap: 2rem;
	}
	.footer-left {
		width: 90%;
	}
	.footer-left .logo {
		margin-bottom: 1rem;
	}
	.footer-right {
		flex-direction: column;
		align-items: flex-start;
		width: 90%;
	}
}
